/* GLOBAL*/
/*$galmes-red: #C21709;*/
/* line 9, /home/n07hing/git/galmes50/css/galmes.scss */
p {
  font-size: 1.2em; }

/* HEADER */
/* line 14, /home/n07hing/git/galmes50/css/galmes.scss */
.header {
  background: url(../img/portada2-darker.jpg) no-repeat center center scroll;
  background-size: cover; }

/* line 19, /home/n07hing/git/galmes50/css/galmes.scss */
.header-text {
  position: absolute;
  bottom: 0%; }

/* line 24, /home/n07hing/git/galmes50/css/galmes.scss */
header {
  text-align: left;
  color: #fff; }
  /* line 25, /home/n07hing/git/galmes50/css/galmes.scss */
  header .container {
    height: 100%; }
  /* line 28, /home/n07hing/git/galmes50/css/galmes.scss */
  header .wrapper {
    position: relative;
    height: 100%; }
  /* line 32, /home/n07hing/git/galmes50/css/galmes.scss */
  header .wrapper-col {
    height: 80%; }
  /* line 35, /home/n07hing/git/galmes50/css/galmes.scss */
  header .flags {
    margin-top: 50px; }
    /* line 38, /home/n07hing/git/galmes50/css/galmes.scss */
    header .flags a {
      font-size: 1.8em; }
  /* line 42, /home/n07hing/git/galmes50/css/galmes.scss */
  header img {
    max-width: 65vw; }
  /* line 46, /home/n07hing/git/galmes50/css/galmes.scss */
  header h2 {
    font-size: 3.5em;
    font-style: italic;
    padding-left: 15px; }
  /* line 52, /home/n07hing/git/galmes50/css/galmes.scss */
  header h3 {
    font-size: 1.9em;
    text-align: left; }
  /* line 57, /home/n07hing/git/galmes50/css/galmes.scss */
  header .btn {
    font-size: 3em;
    text-align: center; }
  /* line 62, /home/n07hing/git/galmes50/css/galmes.scss */
  header a {
    color: #fff;
    opacity: 0.3; }
  /* line 67, /home/n07hing/git/galmes50/css/galmes.scss */
  header a:hover, header a:active {
    color: #fff !important;
    opacity: 1; }
  /* line 72, /home/n07hing/git/galmes50/css/galmes.scss */
  header .text-center {
    text-align: center !important; }
  @media screen and (max-width: 767px) {
    /* line 80, /home/n07hing/git/galmes50/css/galmes.scss */
    header img {
      max-width: 90%; }
    /* line 83, /home/n07hing/git/galmes50/css/galmes.scss */
    header h2 {
      font-size: 2.5em;
      font-weight: 300; }
    /* line 87, /home/n07hing/git/galmes50/css/galmes.scss */
    header .flags {
      margin-top: 15px;
      font-size: 0.5em; } }

/* ABOUT */
/* SERVICES */
/* line 98, /home/n07hing/git/galmes50/css/galmes.scss */
.bg-primary {
  background-color: #EF3120; }

/* line 102, /home/n07hing/git/galmes50/css/galmes.scss */
.text-primary {
  color: #EF3120; }

/* CALLOUT */
/* line 108, /home/n07hing/git/galmes50/css/galmes.scss */
aside h2 {
  margin-bottom: 25px; }

/* line 111, /home/n07hing/git/galmes50/css/galmes.scss */
aside h4 {
  font-size: 1.6em; }

/* line 115, /home/n07hing/git/galmes50/css/galmes.scss */
aside p {
  font-size: 1.5em; }

@media screen and (max-width: 767px) {
  /* line 119, /home/n07hing/git/galmes50/css/galmes.scss */
  aside h1 {
    font-size: 2.5em !important; } }

/* line 125, /home/n07hing/git/galmes50/css/galmes.scss */
.callout {
  background: url(../img/porcelanosa-dark.jpg) no-repeat center center scroll;
  background-size: cover;
  background-color: #000; }
  /* line 129, /home/n07hing/git/galmes50/css/galmes.scss */
  .callout .porcelanosa {
    font-weight: 300; }
  /* line 132, /home/n07hing/git/galmes50/css/galmes.scss */
  .callout a, .callout a:hover, .callout a:active, .callout a:focus {
    color: #fff;
    text-decoration: none; }
  /* line 136, /home/n07hing/git/galmes50/css/galmes.scss */
  .callout h1 {
    margin-bottom: 25px; }

/* line 141, /home/n07hing/git/galmes50/css/galmes.scss */
.callout-bdb {
  background: #88A914;
  background-color: #88A914; }
  /* line 144, /home/n07hing/git/galmes50/css/galmes.scss */
  .callout-bdb img {
    max-width: 200px;
    margin-top: 30px; }

/* PORTFOLIO */
/* line 152, /home/n07hing/git/galmes50/css/galmes.scss */
.img-portfolio:hover {
  opacity: 1 !important; }

/* CALL TO ACTION */
/* MAP */
/* FOOTER*/
/* line 162, /home/n07hing/git/galmes50/css/galmes.scss */
footer a, footer a:hover, footer a:active, footer a:focus {
  color: #EF3120; }

/*# sourceMappingURL=galmes.css.map */