/* GLOBAL*/
/*$galmes-red: #EF3120;*/
$galmes-red: #C21709;
$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;
$screen-xs-max: 767px;

/* HEADER */
.header {
    background: url(../img/portada2-darker.jpg) no-repeat center center scroll;
    background-size: cover;
}

.header-text {
    position: absolute;
    bottom: 0%;
}

header {
    .container {
        height: 100%;
    }
    .wrapper {
        position: relative;
        height: 100%;
    }
    .wrapper-col {
        height: 80%;
    }
    .flags {
        margin-top: 50px;
        
        a {
            font-size: 1.8em;
        }
    }
    img {
        max-width: 65vw;
    }
    
    h2 {
        font-size: 3.5em;
        font-style: italic;
        padding-left: 15px;
    }
    
    h3 {
        font-size: 1.9em;
        text-align: left;
    }
    
    .btn {
        font-size: 3em;
        text-align: center;
    }
    
    a {
        color: #fff;
        opacity: 0.3;
    }
    
    a:hover, a:active {
        color: #fff !important;
        opacity: 1;
    }
    
    .text-center {
        text-align: center !important;
    }
    
    text-align: left;
    color: #fff;
    
    @media screen and (max-width: $screen-xs-max) {
        img {
            max-width: 90%;
        }
        h2 {
            font-size: 2.5em;
            font-weight: 300;
        }
        .flags {
            margin-top: 15px;
            font-size: 0.5em;
        }
    }
}

/* ABOUT */


/* SERVICES */
.bg-primary {
    background-color: $galmes-red;
}

.text-primary {
    color: $galmes-red;
}

/* CALLOUT */
aside {
    h2 {
        margin-bottom: 25px;
    }
    h4 {
        font-size: 1.6em;
    }
    
    p {
        font-size: 1.5em;
    }
    @media screen and (max-width: $screen-xs-max) {
        h1 {
            font-size: 2.5em !important;
        }
    }
}

.callout {
    background: url(../img/porcelanosa-dark.jpg) no-repeat center center scroll;
    background-size: cover;
    background-color: #000;
}

.porcelanosa {
    font-weight: 300;
}

.callout-bdb {
    background: #88A914;
    background-color: #88A914;
}


/* PORTFOLIO */
.img-portfolio:hover {
    opacity: 1 !important;
}

/* CALL TO ACTION */

/* MAP */

/* FOOTER*/
footer {
    a, a:hover, a:active, a:focus {
        color: $galmes-red;
    }
}