/* GLOBAL*/
/*$galmes-red: #EF3120;*/
/* HEADER */
/* line 10, /home/n07hing/git/galmes50/css/galmes.scss */
.header {
  background: url(../img/portada2-darker.jpg) no-repeat center center scroll;
  background-size: cover; }

/* line 15, /home/n07hing/git/galmes50/css/galmes.scss */
.header-text {
  position: absolute;
  bottom: 0%; }

/* line 20, /home/n07hing/git/galmes50/css/galmes.scss */
header {
  text-align: left;
  color: #fff; }
  /* line 21, /home/n07hing/git/galmes50/css/galmes.scss */
  header .container {
    height: 100%; }
  /* line 24, /home/n07hing/git/galmes50/css/galmes.scss */
  header .wrapper {
    position: relative;
    height: 100%; }
  /* line 28, /home/n07hing/git/galmes50/css/galmes.scss */
  header .wrapper-col {
    height: 80%; }
  /* line 31, /home/n07hing/git/galmes50/css/galmes.scss */
  header .flags {
    margin-top: 50px; }
    /* line 34, /home/n07hing/git/galmes50/css/galmes.scss */
    header .flags a {
      font-size: 1.8em; }
  /* line 38, /home/n07hing/git/galmes50/css/galmes.scss */
  header img {
    max-width: 65vw; }
  /* line 42, /home/n07hing/git/galmes50/css/galmes.scss */
  header h2 {
    font-size: 3.5em;
    font-style: italic;
    padding-left: 15px; }
  /* line 48, /home/n07hing/git/galmes50/css/galmes.scss */
  header h3 {
    font-size: 1.9em;
    text-align: left; }
  /* line 53, /home/n07hing/git/galmes50/css/galmes.scss */
  header .btn {
    font-size: 3em;
    text-align: center; }
  /* line 58, /home/n07hing/git/galmes50/css/galmes.scss */
  header a {
    color: #fff;
    opacity: 0.3; }
  /* line 63, /home/n07hing/git/galmes50/css/galmes.scss */
  header a:hover, header a:active {
    color: #fff !important;
    opacity: 1; }
  /* line 68, /home/n07hing/git/galmes50/css/galmes.scss */
  header .text-center {
    text-align: center !important; }
  @media screen and (max-width: 767px) {
    /* line 76, /home/n07hing/git/galmes50/css/galmes.scss */
    header img {
      max-width: 90%; }
    /* line 79, /home/n07hing/git/galmes50/css/galmes.scss */
    header h2 {
      font-size: 2.5em;
      font-weight: 300; }
    /* line 83, /home/n07hing/git/galmes50/css/galmes.scss */
    header .flags {
      margin-top: 15px;
      font-size: 0.5em; } }

/* ABOUT */
/* SERVICES */
/* line 94, /home/n07hing/git/galmes50/css/galmes.scss */
.bg-primary {
  background-color: #C21709; }

/* line 98, /home/n07hing/git/galmes50/css/galmes.scss */
.text-primary {
  color: #C21709; }

/* CALLOUT */
/* line 104, /home/n07hing/git/galmes50/css/galmes.scss */
aside h2 {
  margin-bottom: 25px; }

/* line 107, /home/n07hing/git/galmes50/css/galmes.scss */
aside h4 {
  font-size: 1.6em; }

/* line 111, /home/n07hing/git/galmes50/css/galmes.scss */
aside p {
  font-size: 1.5em; }

@media screen and (max-width: 767px) {
  /* line 115, /home/n07hing/git/galmes50/css/galmes.scss */
  aside h1 {
    font-size: 2.5em !important; } }

/* line 121, /home/n07hing/git/galmes50/css/galmes.scss */
.callout {
  background: url(../img/porcelanosa-dark.jpg) no-repeat center center scroll;
  background-size: cover;
  background-color: #000; }

/* line 127, /home/n07hing/git/galmes50/css/galmes.scss */
.porcelanosa {
  font-weight: 300; }

/* line 131, /home/n07hing/git/galmes50/css/galmes.scss */
.callout-bdb {
  background: #88A914;
  background-color: #88A914; }

/* PORTFOLIO */
/* line 138, /home/n07hing/git/galmes50/css/galmes.scss */
.img-portfolio:hover {
  opacity: 1 !important; }

/* CALL TO ACTION */
/* MAP */
/* FOOTER*/
/* line 148, /home/n07hing/git/galmes50/css/galmes.scss */
footer a, footer a:hover, footer a:active, footer a:focus {
  color: #C21709; }

/*# sourceMappingURL=galmes.css.map */